<div class="card text-center">
    <div class="card-header">
        Details
        <div *ngFor="let i of result" class="card">
            <div *ngIf="i[0]==id" class="card-body">

                <p> Book ID: {{i[0]}} </p>
                <p> Title: {{i[1]}} </p>
                <p> Author: {{i[2]}} </p>
                <p> Price: {{i[3]}} </p>
                <p> Publisher: {{i[4]}} </p>
                <p> Stock: {{i[5]}} </p>

                <button [routerLink]="['/edit',i[0]]">Edit</button>
                <button (click)="del(i[0])">Delete</button>



            </div>

        </div>

    </div>
</div>